* {
    border: 1px solid black;
}


/* Title */
.title {
    background-color: red;
}


/* Interface */
.interface {
    display: flex;
    justify-content: space-around;
}
    /* Grid */
    .grid {
        background-color: black;
        width: 60vw;
        height: 60vh;
    }

    /* Controls */
    .controls {
        display: flex;
        flex-direction: column;
        gap: 2%;
        width: 28vw;
        color: white;
        background-color: black;

    }
     #control-label {
        padding: 4%;
     }

    h2 {
        left: 2%;
    }

        /* Colors */
        .color-control {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row-reverse;
        }

        .red{
            background-color: red;
        }
        .orange {
            background-color: orange;
        }
        .yellow {
            background-color: yellow;
        }
        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }
        .indigo {
            background-color: indigo;
        }
        .violet {
            background-color: violet;
        }

        .color-choices{
            display: flex;
            flex-wrap: wrap;
            width: auto;

        }

        .color-boxes {
            padding: 10%;
            width: 2vw;

            
        }

        /* Grid Size */
        .grid-control {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .grid-size-input {
            width: 12vw;
            height: 2vh;
        }

        /* Reset */
        .reset-control {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .reset {
            width: 12vw;
            height: 2vh;
        }


